<!DOCTYPE html>
<html lang="es" ng-app="gastosApp">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
   <title>Sistema de Control de Gastos</title>
   <link rel="stylesheet" href="librerias/bootstrap/css/bootstrap.css">
   <link rel="stylesheet" href="css/estilo.css">
</head>
<body ng-controller="homeViewController">
   <nav class="navbar navbar-default navbar-fixed-top">
     <div class="container-fluid">
       <div class="navbar-header">
         <a class="navbar-brand" href="#">
           <img alt="Brand" src="img/logo.png" height="20">
           <a class="navbar-brand" href="#">{{miappTitulo}}</a>
         </a>
       </div>
     </div>
   </nav>
   <div class="container" ng-view>

   </div>

   <script src="librerias/underscore-min.js"></script>
   <script src="librerias/jquery.min.js"></script>
   <script src="librerias/bootstrap/js/bootstrap.js"></script>
   <script src="librerias/angular/angular.js"></script>
   <script src="librerias/angular/angular-route.js"></script>
   <script src="js/app.js"></script>
</body>
</html>