<div class="row">
  <div class="col-xs-12">
    <form name="gastosForm">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Descripción" required>
      </div>
      <div class="form-group">
        <input type="number" class="form-control" placeholder="0.00" step="0.1" required>
      </div>
      <div class="form-group">
        <input type="date" class="form-control" required>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-success btn-lg btn-block">
          <i class="glyphicon glyphicon-ok"></i>
          <span> Guardar</span>
        </button>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-default btn-lg btn-block">
          <i class="glyphicon glyphicon-remove"></i>
          <span> Cancelar</span>
        </button>
      </div>
    </form> 
  </div>
</div>