<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item text-center" ng-repeat="gasto in gastos">
         <span class="pull-left">{{gasto.cantidad | number:2}}</span>{{gasto.descripcion | uppercase}}
         <a href="" class="btn btn-danger btn-xs pull-right btn-separation-left">
            <span class="glyphicon glyphicon-trash"></span>
         </a>
         <a href="" class="btn btn-primary btn-xs pull-right">
            <span class="glyphicon glyphicon-pencil"></span>
         </a>
      </li>
    </ul>   
  </div>
</div>